# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.env

# Media Uploads
civicwatch/media/violations/*
civicwatch/media/submissions/*
civicwatch/media/verification/*
!civicwatch/media/.gitkeep
!civicwatch/media/**/.gitkeep

# IDEs & System
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
